.navbar__full_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11111;
}

.navbar__container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item_container{
    display: flex;
    align-items: center;
}

.nav__item_container li:not(:last-child){
    margin-right: 4rem;
}

.nav__item_container li a{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
}