.container{
    width: 80%;
    margin: auto;
}

.mt-5{
    margin-top: 5rem;
}

.mt-8{
    margin-top: 8rem;
}

.mt-12{
    margin-top: 12rem;
}

/* hero linear gradient */

.hero__bg{
    background: rgb(220,235,255);
    background: linear-gradient(95deg, rgba(220,235,255,1) 0%, rgba(253,254,255,1) 59%, rgba(243,248,255,1) 66%);
}

/* what we do linear gradient */

.whatWeDo__bg{
    margin-top: 8rem;
    padding: 4rem 0;
    background: rgb(255,250,238);
    background: linear-gradient(70deg, rgba(255,250,238,1) 0%, rgba(254,255,255,1) 35%, rgba(236,244,255,1) 100%);
}

/* workflow linear gradient */

.workflow__bg{
    background: rgb(231,239,250);
    background: linear-gradient(22deg, rgba(231,239,250,1) 0%, rgba(247,248,249,1) 35%, rgba(249,242,230,1) 100%);
}