@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

html{
  font-size: 62.5%;
  color: rgba(4, 4, 21, 0.8);
}

:root{
  --primary-color: #3088FF;
  --secondary-color: rgba(48, 136, 255, 0.12);
  --tertiary-color: #F9F9F9;
  --quaternary-color: #CEDEF4;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* swiper pagination */

.swiper-pagination{
  left: .2rem !important;
  bottom: 0 !important;
  text-align: left !important;
}

.swiper-pagination-bullet{
  padding: .6rem;
}

.swiper-pagination-bullet-active{
  padding: .6rem 1.5rem;
  border-radius: .8rem !important;
}